<div class="border border-neutral-300 dark:border-neutral-800 rounded-lg" {{ attrs }}>
  <div
    class="flex items-center justify-between border-b p-2 border-neutral-300 dark:border-neutral-800"
  >
    <div
      class="h-3.5 w-full animate-pulse rounded-md bg-neutral-600/30 dark:bg-neutral-900"
      aria-hidden="true"
    ></div>
  </div>
  <div class="p-2 space-y-2">
    <div
      class="h-3.5 w-full animate-pulse rounded-md bg-neutral-600/30 dark:bg-neutral-900"
      aria-hidden="true"
    ></div>
    <div
      class="h-3.5 w-full animate-pulse rounded-md bg-neutral-600/30 dark:bg-neutral-900"
      aria-hidden="true"
    ></div>
    <div
      class="h-3.5 w-full animate-pulse rounded-md bg-neutral-600/30 dark:bg-neutral-900"
      aria-hidden="true"
    ></div>
    <div
      class="h-3.5 w-1/2 animate-pulse rounded-md bg-neutral-600/30 dark:bg-neutral-900"
      aria-hidden="true"
    ></div>
    <span class="sr-only">loading</span>
  </div>
</div>
