{% load i18n %}

<c-blocks.table-filters>
  <c-inputs.text :field="filter.form.currency" />
  <c-inputs.text :field="filter.form.is_primary" />
  <c-inputs.range-wrapper title="{% translate 'created at'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.created_at_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.created_at_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.range-wrapper title="{% translate 'updated at'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.updated_at_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.updated_at_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.range-wrapper title="{% translate 'date'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.date_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.date_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.range-wrapper title="{% translate 'rate'|title %}">
    <c-inputs.number step="0.1" :show_label="False" :field="filter.form.rate_from" />
    <c-inputs.number step="0.1" :show_label="False" :field="filter.form.rate_to" />
  </c-inputs.range-wrapper>
  <c-inputs.text :field="filter.form.notes" />
</c-blocks.table-filters>
