{% load i18n %}

<c-forms.create
  form_title="{% translate 'add new school' %}"
  url="{{ create_url }}{% querystring %}"
  :form_id="form_id"
  :form="form"
>
  <c-inputs.text :field="form.name" />
  {% if perms.edu.add_schoolkind %}
  <c-inputs.text :field="form.kind" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'edu:school_kinds:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      @click.prevent="showModal"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.kind" />
  {% endif %}
  <!--  -->
  {% if perms.geo.add_nationality %}
  <c-inputs.text :field="form.nationality" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'geo:nationalities:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      @click.prevent="showModal"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.nationality" />
  {% endif %}
  <c-inputs.text :field="form.website" />
  <c-inputs.text :field="form.email" />
  <c-inputs.text :field="form.phone" />
  <c-inputs.text :field="form.address" />
  <c-inputs.text :field="form.description" />
</c-forms.create>
