{% load i18n %}

<c-vars
  form_title="add new"
  :widths="{
    'none': 'mx-4',
    'sm': 'max-w-sm mx-auto',
    'md': 'max-w-md mx-auto',
    'lg': 'max-w-lg mx-auto',
    'xl': 'max-w-xl mx-auto',
    '2xl': 'max-w-2xl mx-auto',
  }"
  width="lg"
  encoding="urlencoded"
/>

<form
  hx-post="{{ url }}"
  hx-swap="innerHTML show:top"
  hx-disabled-elt="#save-button, #save-and-add-another-button, #save-and-continue-editing-button"
  {% if encoding == 'multipart' %}
  hx-encoding="multipart/form-data"
  {% endif %}
  x-trap.noautofocus="true"
  id="{{ form_id }}"
  class="{{ widths|get_item:width }}"
>
  <h1 class="text-2xl my-2 first-letter:capitalize">{{ form_title }}</h1>
  {% if form.non_field_errors %}
  <div class="my-6">
    {% for error in form.non_field_errors %}
    <c-alert>{{ error }}</c-alert>
    {% endfor %}
  </div>
  {% endif %}
  <div class="space-y-2">{{ slot }}</div>
  <div class="flex items-center flex-col sm:flex-row gap-1 justify-end mt-2">
    <c-button
      kind="input"
      theme="primary"
      width="full"
      type="submit"
      name="save"
      id="save-button"
      value="{% translate 'save' %}"
      title="{% translate 'save'|title %}"
    />
    <c-button
      kind="input"
      theme="primary"
      width="full"
      type="submit"
      name="save_and_add_another"
      id="save-and-add-another-button"
      value="{% translate 'save and add another'|title %}"
      title="{% translate 'save and add another'|title %}"
    />
    <c-button
      kind="input"
      theme="primary"
      width="full"
      type="submit"
      name="save_and_continue_editing"
      id="save-and-continue-editing-button"
      value="{% translate 'save and continue editing'|title %}"
      title="{% translate 'save and continue editing'|title %}"
    />
    <c-button
      kind="a"
      width="full"
      theme="outline"
      hx-get="{{ create_url }}"
      hx-target="#{{ form_id }}"
      hx-confirm="{% translate 'changes you made may not be saved?' %}"
      size="20"
      icon="arrow-path"
      title="{% translate 'reset'|title %}"
    >
      {% translate 'reset'|title %}
    </c-button>
  </div>
</form>
