{% load i18n %}

<c-vars form_title="add new" buttons_padding="md" />


  <form
    hx-post="{{ url }}"
    hx-target="#no-content"
    hx-swap="innerHTML"
    hx-headers='{{ request_headers }}'
    hx-vals='{"save": true}'
    hx-indicator="find span[role=spinner]"
    hx-disabled-elt="#save-button"
    id="{{ form_id }}"
  >
    <c-layout.modal.body :close_padding="buttons_padding">
      <c-slot name="header"> {{ form_title }} </c-slot>
      <c-slot name="body">
        {% if form.non_field_errors %}
        <div class="my-6">
          {% for error in form.non_field_errors %}
          <c-alert>{{ error }}</c-alert>
          {% endfor %}
        </div>
        {% endif %}
        <!--  -->
        <div class="space-y-2">{{ slot }}</div>
      </c-slot>
      <c-slot name="footer">
        <c-button
          theme="primary"
          type="submit"
          name="save"
          spinner="True"
          :padding="buttons_padding"
          id="save-button"
          value="{% translate 'save' %}"
          title="{% translate 'save'|title %}"
        >
          {% translate 'save'|title %}
        </c-button>
      </c-slot>
    </c-layout.modal.body>
  </form>

