{% load i18n %}

<c-forms.update
  form_title="{% translate 'update' %} {{ form.instance }}"
  url="{{ update_url }}{% querystring %}"
  :form_id="form_id"
  :form="form"
>
  <c-inputs.text :field="form.name" />
  {% if perms.geo.add_governorate %}
  <c-inputs.text :field="form.governorate" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'geo:governorates:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      @click.prevent="showModal"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.governorate" />
  {% endif %}
  <c-inputs.text :field="form.kind" />
  <c-inputs.text :field="form.description" />
</c-forms.update>
