{% load i18n %}

<c-vars
  theme="text-xs text-neutral-500 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-300 capitalize tracking-tight whitespace-nowrap"
/>

<ul class="flex items-center flex-wrap gap-0.5 select-none p-1">
  {% if breadcrumbs %}
  <li class="flex items-center gap-1">
    <a href="{% url 'core:index' %}" class="{{ theme }}">
      {% translate 'home'|title %}
    </a>
    <span class="{{ theme }} mx-0.5">/</span>
  </li>
  {% endif %}
  <!--  -->
  {% for breadcrumb in breadcrumbs %}
  <li class="flex items-center gap-1">
    {% if not forloop.last %}
    <a 
    :href="'{{ breadcrumb.path }}' + (sidebarLinksQuerystring['{{ breadcrumb.path }}'] || '')"
    class="{{ theme }}"
    >
      {{ breadcrumb.title }}
    </a>
    <span class="{{ theme }} mx-0.5">/</span>
    <!--  -->
    {% else %}
    <span class="{{ theme }} !text-black dark:!text-white"> {{ breadcrumb.title }} </span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
