{% load i18n breadcrumbs %}
<!--  -->
{% get_current_language as LANGUAGE_CODE %}
<!--  -->
{% get_breadcrumbs as breadcrumbs %}

<c-vars
  :containers="{
    'base': '',
    'sm': 'max-w-sm mx-auto',
    'lg': 'max-w-lg mx-auto',
    'xl': 'max-w-xl mx-auto',
    '2xl': 'max-w-2xl mx-auto',
    '3xl': 'max-w-3xl mx-auto',
  }"
  container="base"
/>

<!DOCTYPE html>
<html lang="en" :class="{'dark': dark}" class="scroll" x-data="theme">
  <head>
    <c-head />
  </head>
  <body
    dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
    class="dark:bg-black bg-white text-neutral-900 dark:text-neutral-100"
    hx-history="false"
    hx-indicator="#header-spinner"
    hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
    :class="{'lg:me-72': overlaySidebarOpened}"
    @keyup.alt.equal="sidebarSearchFocus"
    x-data="layout({ title: '{{ page_title }}' || '{{ project_name }}' })"
    x-cloak
  >
    <c-layout.modal />
    <c-layout.sidebar.overlay-sidebar />
    <c-layout.messages.wrapper>
      <c-layout.messages />
    </c-layout.messages.wrapper>
    <span class="hidden" id="no-content"></span>
    <c-layout.sidebar>
      <c-layout.header />
      <div class="mt-2 text-center sm:hidden">
        <c-layout.breadcrumbs :breadcrumbs="breadcrumbs" />
      </div>
      <main
        :class="{
          'container mx-auto': !sidebarFixed && fullWidthContainer,
          'px-2': !fullWidthContainer || sidebarFixed,
          'lg:px-2': overlaySidebarOpened,
        }"
        class="py-2 max-md:px-2"
      >
        <c-layout.spinner />
        <div class="{{ containers|get_item:container }} @container">{{ slot }}</div>
      </main>
    </c-layout.sidebar>
  </body>
</html>
