<ul
  class="fixed end-4 bottom-4 z-50 w-64 space-y-2 bg-white dark:bg-neutral-900 rounded-md shadow-md dark:shadow-none text-neutral-600 dark:text-neutral-300"
  id="messages-container"
  hx-get="{% url 'core:messages' %}"
  hx-trigger="messages from:body"
  hx-preserve="true"
  hx-swap="beforeend"
  x-ref="messagesWrapper"
  x-transition:enter="transition ease-out duration-150"
  x-transition:enter-start="opacity-0 ltr:-translate-x-4 rtl:translate-x-4"
  x-transition:enter-end="opacity-100 translate-x-0"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100 translate-x-0"
  x-transition:leave-end="opacity-0 ltr:translate-x-4 rtl:-translate-x-4"
>
  {{ slot }}
</ul>
