{% load i18n utils %}

<c-layout.modal width="xl">
  <c-layout.modal.body :close_padding="buttons_padding">
    <c-slot name="header">{% translate 'details'|title %}: {{ object.name }} </c-slot>
    <c-slot name="body">
      <c-table height="sm">
        <c-table.table>
          <c-table.tr>
            <c-table.td data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'name' }}
            </c-table.td>
            <c-table.td data-header="{% translate 'value'|title %}"> {{ object.name }} </c-table.td>
          </c-table.tr>
          <c-table.tr>
            <c-table.td data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'description' }}
            </c-table.td>
            <c-table.td data-header="{% translate 'value'|title %}">
              {{ object.description }}
            </c-table.td>
          </c-table.tr>
        </c-table.table>
      </c-table>
      <!-- periods table -->
      {% if object.periods.all %}
      <c-separator> {% translate 'periods'|title %} </c-separator>
      <c-table height="sm">
        <c-table.table>
          {% for period in object.periods.all %}
          <c-table.tr>
            <c-table.td data-header="#"> {{ forloop.counter }} </c-table.td>
            <c-table.td data-header="{% translate 'name'|title %}"> {{ period }} </c-table.td>
            <c-table.td data-header="{% translate 'start date'|title %}">
              {{ period.start_date|date:'Y-m-d' }}
            </c-table.td>
            <c-table.td data-header="{% translate 'is closed'|title %}">
              {{ period.is_closed|yesno|title }}
            </c-table.td>
            <c-table.td data-header="{% translate 'description'|title %}">
              {{ period.description }}
            </c-table.td>
          </c-table.tr>
          {% endfor %}
        </c-table.table>
      </c-table>
      {% endif %}
    </c-slot>
    <c-slot name="footer">
      <c-button
        theme="outline"
        title="{% translate 'close'|title %}"
        @click="hideModal"
        :hide_icon="True"
      >
        {% translate 'close'|title %}
      </c-button>
    </c-slot>
  </c-layout.modal.body>
</c-layout.modal>
