{% load i18n utils django_vite %}

<c-layout.modal width="xl">
  <c-layout.modal.body :close_padding="buttons_padding">
    <c-slot name="header"> {% translate 'details'|title %}: {{ object.fullname }} </c-slot>
    <c-slot name="body">
      <div class="grid grid-cols-1 @md:grid-cols-4 gap-2">
        <a
          href="{% if object.profile %}{{ object.profile.url }}{% else %}{% vite_asset_url 'assets/images/user.png' %}{% endif %}"
          target="{% if object.profile %}_blank{% else %}_self{% endif %}"
          class="block"
        >
          <img
            src="{% if object.profile %}{{ object.profile.url }}{% else %}{% vite_asset_url 'assets/images/user.png' %}{% endif %}"
            class="size-48 rounded-full object-cover block border border-neutral-300 dark:border-neutral-800"
            alt="avatar"
          />
        </a>
        <div class="@md:col-span-3">
          <c-table height="none">
            <c-table.table>
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'fullname' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'fullname' }}">
                  {{ object.fullname }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'shortname' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'shortname' }}">
                  {{ object.shortname }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'firstname' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'firstname' }}">
                  {{ object.firstname }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'lastname' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'lastname' }}">
                  {{ object.lastname }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'father_name' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'father_name' }}">
                  {{ object.father_name }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'father_fullname' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'father_fullname' }}">
                  {{ object.father_fullname }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'mother_name' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'mother_name' }}">
                  {{ object.mother_name }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'birth_place' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'birth_place' }}">
                  {{ object.birth_place }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'birth_date' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'birth_date' }}">
                  {{ object.birth_date|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'age'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'age'|title %}">
                  {{ object.birth_date|timesince }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'age group'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'age group'|title %}">
                  {{ object.age_group|title }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'next birthday'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'next birthday'|title %}">
                  {{ object.next_birthday|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'until next birthday'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'until next birthday'|title %}">
                  {{ object.next_birthday|timeuntil:now }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'national_id' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'national_id' }}">
                  {{ object.national_id }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'passport_id' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'passport_id' }}">
                  {{ object.passport_id|default_if_none:"" }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'card_id' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'card_id' }}">
                  {{ object.card_id }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'civil_registry_office' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'civil_registry_office' }}">
                  {{ object.civil_registry_office }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'registry_office_name' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'registry_office_name' }}">
                  {{ object.registry_office_name }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'registry_office_id' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'registry_office_id' }}">
                  {{ object.registry_office_id }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'gender' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'gender' }}">
                  {{ object.get_gender_display }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'face_color' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'face_color' }}">
                  {{ object.face_color }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'eyes_color' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'eyes_color' }}">
                  {{ object.eyes_color }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'address' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'address' }}">
                  {{ object.address }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'special_signs' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'special_signs' }}">
                  {{ object.special_signs }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'card_date' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'card_date' }}">
                  {{ object.card_date|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'martial_status' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'martial_status' }}">
                  {{ object.get_martial_status_display }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'military_status' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'military_status' }}">
                  {{ object.get_military_status_display }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'religion' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'religion' }}">
                  {{ object.get_religion_display }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'current_address' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'current_address' }}">
                  {{ object.current_address }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'nationality' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'nationality' }}">
                  {{ object.nationality }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'governorate'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'governorate'|title %}">
                  {{ object.city.governorate }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'city' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'city' }}">
                  {{ object.city }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'hire_date' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'hire_date' }}">
                  {{ object.hire_date|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              {% if object.separation_date %}
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'separation_date' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'separation_date' }}">
                  {{ object.separation_date|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              {% endif %}
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'job age'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'job age'|title %}">
                  {% if object.separation_date %}
                  <!--  -->
                  {{ object.hire_date|timesince:object.separation_date }}
                  <!--  -->
                  {% else %}
                  <!--  -->
                  {{ object.hire_date|timesince }}
                  <!--  -->
                  {% endif %}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'job age group'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'job age group'|title %}">
                  {{ object.job_age_group|capfirst }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'next job anniversary'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'next job anniversary'|title %}">
                  {{ object.next_nth_job_anniversary|date:'Y-m-d' }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'until next job anniversary'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'until next job anniversary'|title %}">
                  {{ object.next_nth_job_anniversary|timeuntil:now }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'notes' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'notes' }}">
                  {{ object.notes }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'cost_center' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'cost_center' }}">
                  {{ object.cost_center }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'position' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'position' }}">
                  {{ object.position }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'status' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'status' }}">
                  {{ object.status }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'job type'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'job type'|title %}">
                  {{ object.job_subtype.job_type }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'job_subtype' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'job_subtype' }}">
                  {{ object.job_subtype }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'groups' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'groups' }}">
                  {% for group in object.groups.all %} {{ group }}, {% endfor %}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'degree' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'degree' }}">
                  {{ object.degree }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {% translate 'academic?'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'academic?'|title %}">
                  {{ object.degree.is_academic|yesno|title }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'school' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'school' }}">
                  {{ object.school }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'name'|title %}">
                  {{ model|verbose_name:'specialization' }}
                </c-table.td>
                <c-table.td data-header="{{ model|verbose_name:'specialization' }}">
                  {{ object.specialization }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
              <c-table.tr>
                <c-table.td :header="True" data-header="{% translate 'specialist?'|title %}">
                  {% translate 'specialist?'|title %}
                </c-table.td>
                <c-table.td data-header="{% translate 'specialist?'|title %}">
                  {{ object.specialization.is_specialist|yesno|title }}
                </c-table.td>
              </c-table.tr>
              <!--  -->
            </c-table.table>
          </c-table>
          {% if object.mobiles.all %}
          <c-separator> {% translate 'mobiles'|title %} </c-separator>
          <c-table height="none">
            <c-table.table>
              <c-table.tr>
                <c-table.th>{% translate 'number'|title %}</c-table.th>
                <c-table.th>{% translate 'link'|title %}</c-table.th>
                <c-table.th>{% translate 'kind'|title %}</c-table.th>
              </c-table.tr>
              {% for number in object.mobiles.all %}
              <c-table.tr>
                <c-table.td data-header="{% translate 'number'|title %}">
                  <a href="{{ number.get_absolute_url }}" class="hover:underline" target="_blank">
                    {{ number }}
                  </a>
                </c-table.td>
                <c-table.td data-header="{% translate 'whatsapp'|title %}">
                  {% if number.has_whatsapp %}
                  <a
                    href="{{ number.get_whatsapp_url }}"
                    class="hover:underline flex items-center gap-1"
                    target="_blank"
                  >
                    {% translate 'whatsapp'|title %}
                    <!--  -->
                    {% heroicon_outline "arrow-top-right-on-square" size="16" %}
                  </a>
                  {% else %}
                  <span>{% translate 'has no whatsapp'|title %}</span>
                  {% endif %}
                </c-table.td>
                <c-table.td data-header="{% translate 'kind'|title %}">
                  {{ number.get_kind_display }}
                </c-table.td>
              </c-table.tr>
              {% endfor %}
            </c-table.table>
          </c-table>
          {% endif %}
          <!--  -->
          {% if object.phones.all %}
          <c-separator> {% translate 'phones'|title %} </c-separator>
          <c-table height="none">
            <c-table.tr>
              <c-table.th>{% translate 'number'|title %}</c-table.th>
              <c-table.th>{% translate 'kind'|title %}</c-table.th>
            </c-table.tr>
            <c-table.table>
              {% for number in object.phones.all %}
              <c-table.tr>
                <c-table.td data-header="{% translate 'number'|title %}">
                  <a href="{{ number.get_absolute_url }}" class="hover:underline" target="_blank">
                    {{ number }}
                  </a>
                </c-table.td>
                <c-table.td data-header="{% translate 'kind'|title %}">
                  {{ number.get_kind_display }}
                </c-table.td>
              </c-table.tr>
              {% endfor %}
            </c-table.table>
          </c-table>
          {% endif %}
          <!--  -->
          {% if object.emails.all %}
          <c-separator> {% translate 'emails'|title %} </c-separator>
          <c-table height="none">
            <c-table.table>
              <c-table.tr>
                <c-table.th>{% translate 'number'|title %}</c-table.th>
                <c-table.th>{% translate 'kind'|title %}</c-table.th>
              </c-table.tr>
              {% for email in object.emails.all %}
              <c-table.tr>
                <c-table.td data-header="{% translate 'email'|title %}">
                  <a href="{{ email.get_absolute_url }}" class="hover:underline" target="_blank">
                    {{ email }}
                  </a>
                </c-table.td>
                <c-table.td data-header="{% translate 'kind'|title %}">
                  {{ email.get_kind_display }}
                </c-table.td>
              </c-table.tr>
              {% endfor %}
            </c-table.table>
          </c-table>
          {% endif %}
        </div>
      </div>
    </c-slot>
    <c-slot name="footer">
      <c-button
        theme="outline"
        title="{% translate 'close'|title %}"
        @click="hideModal"
        :hide_icon="True"
      >
        {% translate 'close'|title %}
      </c-button>
    </c-slot>
  </c-layout.modal.body>
</c-layout.modal>
