{% load i18n %}

<c-blocks.table-filters>
  <c-inputs.text :field="filter.form.firstname" />
  <c-inputs.text :field="filter.form.lastname" />
  <c-inputs.text :field="filter.form.father_name" />
  <c-inputs.text :field="filter.form.mother_name" />
  <c-inputs.text :field="filter.form.birth_place" />
  <c-inputs.range-wrapper title="{% translate 'birth date'|title %}">
    <c-inputs.text
      :show_icon="True"
      icon="calendar"
      icon_size="16"
      :show_label="False"
      :field="filter.form.birth_date_from"
    />
    <c-inputs.text
      :show_icon="True"
      icon="calendar"
      icon_size="16"
      :show_label="False"
      :field="filter.form.birth_date_to"
    />
  </c-inputs.range-wrapper>
  <c-inputs.text :field="filter.form.upcoming_birthday_this" />
  <c-inputs.range-wrapper title="{% translate 'age'|title %}">
    <c-inputs.text :show_label="False" :field="filter.form.age_from" />
    <c-inputs.text :show_label="False" :field="filter.form.age_to" />
  </c-inputs.range-wrapper>
  <c-inputs.text :field="filter.form.age_group" />
  <c-inputs.range-wrapper title="{% translate 'hire date'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.hire_date_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.hire_date_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.range-wrapper title="{% translate 'separation date'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.separation_date_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.separation_date_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.range-wrapper title="{% translate 'job age'|title %}">
    <c-inputs.text :show_label="False" :field="filter.form.job_age_from" />
    <c-inputs.text :show_label="False" :field="filter.form.job_age_to" />
  </c-inputs.range-wrapper>
  <c-inputs.text :field="filter.form.upcoming_job_anniversary_this" />
  <c-inputs.text :field="filter.form.national_id" />
  <c-inputs.text :field="filter.form.card_id" />
  <c-inputs.text :field="filter.form.passport_id" />
  <c-inputs.text :field="filter.form.civil_registry_office" />
  <c-inputs.text :field="filter.form.registry_office_name" />
  <c-inputs.text :field="filter.form.registry_office_id" />
  <c-inputs.text :field="filter.form.gender" />
  <c-inputs.text :field="filter.form.face_color" />
  <c-inputs.text :field="filter.form.eyes_color" />
  <c-inputs.text :field="filter.form.address" />
  <c-inputs.text :field="filter.form.special_signs" />
  <c-inputs.text :field="filter.form.martial_status" />
  <c-inputs.text :field="filter.form.military_status" />
  <c-inputs.text :field="filter.form.religion" />
  <c-inputs.text :field="filter.form.current_address" />
  <c-inputs.text :field="filter.form.nationality" />
  <c-inputs.text :field="filter.form.is_local" />
  <c-inputs.text :field="filter.form.governorate" />
  <c-inputs.text :field="filter.form.city" />
  <c-inputs.text :field="filter.form.cost_center" />
  <c-inputs.text :field="filter.form.position" />
  <c-inputs.text :field="filter.form.status" />
  <c-inputs.text :field="filter.form.is_payable" />
  <c-inputs.text :field="filter.form.job_type" />
  <c-inputs.text :field="filter.form.job_subtype" />
  <c-inputs.text :field="filter.form.groups" />
  <c-inputs.text :field="filter.form.groups_combined" />
  <c-inputs.text :field="filter.form.degree" />
  <c-inputs.text :field="filter.form.is_academic" />
  <c-inputs.text :field="filter.form.school" />
  <c-inputs.text :field="filter.form.school_kind" />
  <c-inputs.text :field="filter.form.specialization" />
  <c-inputs.text :field="filter.form.is_specialist" />
  <c-inputs.range-wrapper title="{% translate 'card date'|title %}">
    <c-inputs.text
      :show_label="False"
      :field="filter.form.card_date_from"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
    <c-inputs.text
      :show_label="False"
      :field="filter.form.card_date_to"
      :show_icon="True"
      icon="calendar"
      icon_size="16"
    />
  </c-inputs.range-wrapper>
  <c-inputs.text :field="filter.form.notes" />
</c-blocks.table-filters>
