{% load i18n %}

<c-forms.wrapper>
  <c-inputs.avatar :instance="instance" :field="form.profile" />
</c-forms.wrapper>
<c-forms.wrapper cols="4">
  <c-inputs.text :field="form.firstname" />
  <c-inputs.text :field="form.lastname" />
  <c-inputs.text :field="form.father_name" />
  <c-inputs.text :field="form.mother_name" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  <c-inputs.text :field="form.birth_place" />
  <c-inputs.text show_icon="True" icon="calendar-days" :field="form.birth_date" />
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  <c-inputs.text :field="form.national_id" />
  <c-inputs.text :field="form.card_id" />
  <c-inputs.text :field="form.passport_id" />
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  <c-inputs.text :field="form.civil_registry_office" />
  <c-inputs.text :field="form.registry_office_name" />
  <c-inputs.text :field="form.registry_office_id" />
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  <c-inputs.text :field="form.gender" />
  <c-inputs.text :field="form.face_color" />
  <c-inputs.text :field="form.eyes_color" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  <c-inputs.text :field="form.address" />
  <c-inputs.text :field="form.current_address" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  <c-inputs.text :field="form.special_signs" />
  <c-inputs.text show_icon="True" icon="calendar-days" :field="form.card_date" />
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  <c-inputs.text :field="form.martial_status" />
  <c-inputs.text :field="form.military_status" />
  <c-inputs.text :field="form.religion" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  {% if perms.geo.add_nationality %}
  <c-inputs.text :field="form.nationality" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'geo:nationalities:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.nationality" />
  {% endif %}
  <!--  -->
  {% if perms.geo.add_city %}
  <c-inputs.text :field="form.city" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'geo:cities:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.city" />
  {% endif %}
</c-forms.wrapper>
<c-inputs.text show_icon="True" icon="calendar-days" :field="form.hire_date" />
<c-forms.wrapper cols="2">
  {% if perms.org.add_status %}
  <c-inputs.text :field="form.status" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'org:statuses:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.status" />
  {% endif %}
  <c-inputs.text show_icon="True" icon="calendar-days" :field="form.separation_date" />
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  <!--  -->
  {% if perms.org.add_costcenter %}
  <c-inputs.text :field="form.cost_center" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'org:cost_centers:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.cost_center" />
  {% endif %}
  <!--  -->
  {% if perms.org.add_jobsubtype %}
  <c-inputs.text :field="form.job_subtype" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'org:job_subtypes:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.job_subtype" />
  {% endif %}
  <!--  -->
  {% if perms.org.add_position %}
  <c-inputs.text :field="form.position" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'org:positions:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.position" />
  {% endif %}
</c-forms.wrapper>
<c-forms.wrapper cols="3">
  {% if perms.edu.add_school %}
  <c-inputs.text :field="form.school" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'edu:schools:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.school" />
  {% endif %}
  <!--  -->
  {% if perms.edu.add_specialization %}
  <c-inputs.text :field="form.specialization" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'edu:specializations:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.specialization" />
  {% endif %}
  <!--  -->
  {% if perms.edu.add_degree %}
  <c-inputs.text :field="form.degree" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'edu:degrees:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      hx-swap="innerHTML"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.degree" />
  {% endif %}
</c-forms.wrapper>
<c-inputs.file :field="form.identity_document" />
<c-inputs.text :field="form.user" />
<c-inputs.m2m :field="form.groups" />
<c-inputs.text :field="form.notes" />
