{% load widget_tweaks i18n %}

<c-vars :show_label="True" :show_help="True" :has_add="False" :enabled="True" />

<div
  role="group"
  class="text-neutral-600 dark:text-neutral-300 [&:has(input[aria-invalid='true'])_label]:text-red-500"
>
  {% if show_label %}
  <div class="relative">
    <label
      for="{{ field.id_for_label }}"
      class="flex w-fit items-center gap-1 pl-0.5 text-xs capitalize font-medium my-1"
    >
      <span>{{ field.label }}:</span>
      <span
        class="aria-hidden:hidden"
        aria-label="required field"
        aria-hidden="{% if field.field.required %}true{% else %}false{% endif %}"
        >({% translate 'optional'|title %})</span
      >
    </label>
  </div>
  {% endif %}
  <!--  -->
  {% if show_help %}
  <!--  -->
  {% spaceless %}
  <em
  class="pl-0.5 my-1 text-xs text-neutral-400 dark:text-neutral-500 block empty:hidden whitespace-nowrap line-clamp-1"
  title="{{ field.help_text|capfirst }}"
  >
    {{ field.help_text|capfirst }}
  </em>
  {% endspaceless %}
  <!--  -->
  {% endif %}
  <!-- xx -->
  {{ field }}
  <!--  -->
  {% if field.errors %}
  <c-error.wrapper>
    {% for error in field.errors %}
    <c-error.error>{{ error|capfirst }}</c-error.error>
    {% endfor %}
  </c-error.wrapper>
  {% endif %}
</div>
