{% load widget_tweaks i18n %}

<c-vars
  :show_icon="False"
  :show_label="True"
  :show_help="True"
  :has_add="False"
  :themes="{
    'text': 'text-input',
    'select': 'select-input',
  }"
  theme="text"
  icon="plus"
  icon_size="20"
  kind="text"
  autofocus="false"
/>

<div
  role="group"
  class="text-neutral-600 dark:text-neutral-300 [&:has(input[aria-invalid='true'])_label]:text-red-500 [&:has(*[required])_label_>_span]:block"
>
  {% if has_add or show_label %}
  <div class="flex items-center gap-1">
    {% if show_label %}
    <label for="{{ field.id_for_label }}" class="flex w-fit items-center gap-1 pl-0.5 text-sm capitalize">
      {{ field.label }}:
      <span
        class="text-[red] hidden"
        title="{% translate 'required field'|title %}"
        aria-label="required field"
      >
        *
      </span>
    </label>
    {% endif %}
    <!--  -->
    {% if has_add %} 
    <div aria-label="create nested object">{{ slot }}</div>
    {% endif %}
  </div>
  {% endif %}
  <!--  -->
  {% if show_help %}
  <small class="pl-0.5 text-neutral-500 mb-1 block first-letter:capitalize">
    {{ field.help_text }}
  </small>
  {% endif %}
  <!--  -->
  {% if show_icon %}
  <div class="relative">
    <span class="absolute start-2 top-1/2 -translate-y-1/2">
      {% heroicon_outline icon size=icon_size class="text-neutral-500" %}
    </span>
    {% render_field field autocomplete="true" autofocus=autofocus class=themes|get_item:theme style="padding-inline-start: 2rem" type=kind %}
  </div>
  {% else %}
  <!--  -->
  {% render_field field autocomplete="true" autofocus=autofocus class=themes|get_item:theme type=kind %}
  <!--  -->
  {% endif %}
  <!--  -->
  {% if field.errors %}
  <div class="pl-0.5 text-red-500 my-1 text-sm">
    <ul aria-label="errors list">
      {% for error in field.errors %}
      <li class="flex items-center gap-1 ps-1">
        <span>{% heroicon_outline "x-mark" size="16" %}</span>
        <span aria-label="error">{{ error }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
