{% load i18n %}

<c-forms.modal-create
  form_title="{% translate 'add new job subtype'|title %}"
  request_headers='{"modal": true, "target": "{{ request_parser.target }}", "dont-redirect": true}'
  url="{{ create_url }}{% querystring %}"
  :form_id="form_id"
  :form="form"
>
  <c-inputs.text :field="form.name" />
  {% if perms.job_types.can_create %}
  <c-inputs.text :field="form.job_type" :has_add="True">
    <c-button
      rounded="full"
      theme="outline"
      padding="sm"
      size="20"
      hx-get="{% url 'job_types:create' %}"
      hx-target="#modal-container"
      hx-headers='{"modal": true, "target": "#no-content"}'
      @click.prevent="showModal"
    />
  </c-inputs.text>
  {% else %}
  <c-inputs.text :field="form.job_type" />
  {% endif %}
  <c-inputs.text :field="form.description" />
</c-forms.modal-create>
