{% load i18n heroicons %}

<c-vars
  :overflow="True"
  :widths="{
  'base': 'w-[min(500px,100%)]',
  'lg': 'w-[min(600px,100%)]',
  'xl': 'w-[min(800px,100%)]',
  '2xl': 'w-[min(1000px,100%)]',
  '3xl': 'w-[min(1200px,100%)]',
  }"
  width="lg"
  :close_on_esc="True"
  :close_on_click_outside="True"
  :overflow="True"
/>

<div
  class="flex flex-col gap-2 rounded-lg border {% if overflow %}overflow-hidden{% endif %} border-neutral-300 dark:border-neutral-800 dark:text-neutral-300 bg-white dark:bg-neutral-950 {{ widths|get_item:width }} empty:hidden mx-auto"
  {% if close_on_esc %}@keydown.esc.window="hideModal"{% endif %}
  {% if close_on_click_outside %}@click.outside="hideModal"{% endif %}
>
  <!-- Dialog Header -->
  <div
    class="flex items-center justify-between border-b border-neutral-300 p-2 dark:border-neutral-800"
  >
    <h3 class="font-semibold tracking-wide text-neutral-900 dark:text-white">{{ header }}</h3>
    <c-button
      @click.prevent="hideModal"
      aria-label="close modal"
      icon="x-mark"
      rounded="full"
      theme="outline"
    />
  </div>
  <!-- Dialog Body -->
  <div class="px-4 py-2 max-h-[70vh] {% if overflow %}overflow-y-auto{% endif %} scroll" id="modal-body">
    {{ body }}
  </div>
  <!-- Dialog Footer -->
  <div
    class="flex flex-col-reverse items-center justify-end gap-1 border-t border-neutral-300 p-2 dark:border-neutral-800 sm:flex-row sm:items-center"
  >
    {{ footer }}
  </div>
</div>
