<div
  x-show="modalStatus"
  x-transition:enter="transition ease-out duration-150"
  x-transition:enter-start="-translate-y-8 opacity-0"
  x-transition:enter-end="translate-y-0 opacity-100"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="translate-y-0 opacity-100"
  x-transition:leave-end="-translate-y-8 opacity-0"
  x-trap.inert.noscroll="modalStatus"
  @showmodal.window="showModal"
  @hidemodal="hideModal"
  class="fixed inset-0 z-50 flex items-center justify-center p-4 pb-8 lg:p-8 @container bg-black/20 dark:bg-black/80"
  role="dialog"
  aria-modal="true"
>
  <!-- Modal Dialog -->
  <div x-ref="modal" class="w-full" id="modal-container">{{ slot }}</div>
</div>
