<div 
x-data="autocomplete({
  url: '{% url 'core:autocomplete' %}',
  initial: '{% if widget.value != None %}{{ widget.value|stringformat:'s' }}{% endif %}',
  eventName: 'autocomplete-{{ widget.name }}',
})" 
class="relative"
@blur="closeList"
@click.away="closeList"
@keydown.esc.stop="handleCloseAndSelect"
>
  <div class="relative">
    <input
    @input="resetList"
    @input.debounce.750="handleRequest"
    @openautocompletelist="openList"
    @keydown.enter.prevent=""
    :title="title"
    x-model="keywords"
    x-ref="autocompleteInput"
    hx-get="{% url 'core:autocomplete' %}?{{ widget.attrs.querystring }}"
    hx-trigger="autocomplete-{{ widget.name }}"
    hx-target="#{{ widget.name }}-autocomplete-list"
    hx-swap="innerHTML show:none"
    hx-indicator="#{{ widget.name }}-indicator"
    hx-vals="js:{ term: event.target.value, filters: {{ widget.attrs.queryset_filters }} }"
    hx-params="not governorate"
    class="!ps-7 text-input"
    type="{{ widget.type }}"
    name="{{ widget.name }}"
    value="{% if widget.value != None %}{{ widget.value|stringformat:'s' }}{% endif %}"
    {% for name, value in widget.attrs.items %}
    {% if value is not False %}
    {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
    {% endif %}
    {% endfor %}
    >
    <span class="absolute start-2 top-1/2 -translate-y-1/2 text-neutral-500">
      {% heroicon_outline "magnifying-glass" size="16" %}
    </span>
    <span 
      class="absolute end-2 top-1/2 -translate-y-1/2 hidden hx-request:block" 
      id="{{ widget.name }}-indicator"
      x-ref="autocompleteIndicator"
    >
      <span class="block animate-spin">
        {% heroicon_outline "arrow-path" size="16" %}
      </span>
    </span>
  </div>
  {% spaceless %}
  <ul 
    x-show="isListOpen && keywords" 
    x-trap.noautofocus="isListOpen && keywords"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="-translate-y-2"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="-translate-y-2"
    @keydown.down.prevent="$focus.wrap().next()"
    @keydown.up.prevent="$focus.wrap().previous()"
    class="absolute top-[calc(100%+0.5rem)] z-50 w-full min-w-48 text-xs max-h-24 overflow-auto rounded-md border border-neutral-300 bg-white dark:border-neutral-800 dark:bg-black shadow-md dark:shadow-none scroll empty:hidden divide-y divide-neutral-300 dark:divide-neutral-800"
    id="{{ widget.name }}-autocomplete-list"
    role="list" 
    x-ref="autocompleteList"
  ></ul>
  {% endspaceless %}
</div>
