{% load i18n utils %}
<!--  -->
{% for obj in object_list %}
<li>
  <button
    class="block w-full text-xs text-start p-2 hover:bg-neutral-100 dark:hover:bg-neutral-800 focus:bg-neutral-100 dark:focus:bg-neutral-800 focus:outline-none"
    role="option"
    @click.prevent="handleSelectOption('{{ obj|get:label_field_name }}')"
  >
    {{ obj }}
  </button>
</li>
{% empty %}
<li class="p-2">
  <button x-init="handleNoResults" @focus.prevent="reset">
    {% translate 'no results'|title %}
  </button>
</li>
{% endfor %}
