<div 
x-data="autocomplete({
  url: '{% url 'core:autocomplete' %}',
  initial: '{% if widget.value != None %}{{ widget.value|stringformat:'s' }}{% endif %}',
  eventName: 'autocomplete-{{ widget.name }}',
})" 
class="relative"
@blur="resetList"
@click.away="resetList"
@keydown.esc.prevent="reset"
>
  <div class="relative">
    <input
    @keypress.debounce.750="handleRequest"
    @keydown.enter.prevent=""
    x-model="keywords"
    x-ref="autocompleteInput"
    hx-get="{% url 'core:autocomplete' %}?{{ widget.attrs.querystring }}"
    hx-trigger="autocomplete-{{ widget.name }}"
    hx-target="ul[role='list']"
    hx-swap="innerHTML"
    hx-indicator="#{{ widget.name }}-indicator"
    hx-vals="js:{term: event.target.value}"
    hx-params="not governorate"
    class="!ps-10 text-input"
    type="{{ widget.type }}"
    name="{{ widget.name }}"
    {% for name, value in widget.attrs.items %}
    {% if value is not False %}
    {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
    {% endif %}
    {% endfor %}
    >
    <span class="absolute start-2 top-1/2 -translate-y-1/2 text-neutral-500">
      {% heroicon_outline "magnifying-glass" size="20" %}
    </span>
    <span 
      class="absolute end-2 top-1/2 -translate-y-1/2 hidden hx-request:block" 
      id="{{ widget.name }}-indicator"
      x-ref="autocompleteIndicator"
    >
      <span class="block animate-spin">
        {% heroicon_outline "arrow-path" size="20" %}
      </span>
    </span>
  </div>
  <ul 
  x-show="isListOpen && keywords" 
  x-trap="isListOpen && keywords"
  x-transition:enter="duration-200"
  x-transition:enter-start="-translate-y-2"
  x-transition:enter-end="translate-y-0"
  @keydown.down.prevent="$focus.wrap().next()"
  @keydown.up.prevent="$focus.wrap().previous()"
  class="absolute top-[calc(100%+0.5rem)] z-50 w-full max-h-48 overflow-auto rounded-md border border-neutral-300 bg-white dark:border-neutral-800 dark:bg-black shadow-md dark:shadow-none scroll empty:hidden"
  role="list" 
  x-ref="autocompleteList"
  ></ul>
</div>
