{% load i18n %}

<div
  x-data="combobox"
  class="flex w-full max-w-xs flex-col gap-1"
  @keydown="handleKeydownOnOptions($event)"
  @keydown.esc.window="isOpen = false, openedWithKeyboard = false"
>
  <div class="relative">
    <button
      type="button"
      class="inline-flex w-full items-center justify-between gap-2 border border-neutral-300 rounded-md bg-white px-4 py-2 text-sm font-medium tracking-wide text-neutral-600 transition focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:border-neutral-800 dark:bg-black dark:focus-visible:outline-white"
      role="combobox"
      aria-controls="makesList"
      aria-haspopup="listbox"
      @click="isOpen = ! isOpen"
      @keydown.down.prevent="openedWithKeyboard = true"
      @keydown.enter.prevent="openedWithKeyboard = true"
      @keydown.space.prevent="openedWithKeyboard = true"
      :aria-expanded="isOpen || openedWithKeyboard"
    >
      <span
        class="text-sm font-normal"
      ></span>
      {% heroicon_outline "chevron-down" size="20" %}
    </button>

    <input id="make" x-ref="hiddenTextField" hidden="" />
    <div
      x-show="isOpen || openedWithKeyboard"
      id="makesList"
      class="absolute left-0 top-11 z-10 w-full overflow-hidden rounded-md border border-neutral-300 bg-neutral-50 dark:border-neutral-800 dark:bg-neutral-900"
      role="listbox"
      aria-label="industries list"
      @click.outside="isOpen = false, openedWithKeyboard = false"
      @keydown.down.prevent="$focus.wrap().next()"
      @keydown.up.prevent="$focus.wrap().previous()"
      x-transition
      x-trap="openedWithKeyboard"
    >
      <!-- Search  -->
      <div class="relative">
        <span class="absolute left-4 top-1/2 size-5 -translate-y-1/2 text-neutral-600/50 dark:text-neutral-300/50">
          {% heroicon_outline "magnifying-glass" %}
        </span>
        <input
          type="text"
          class="w-full border-b border-neutral-300 bg-white py-2.5 pl-11 pr-4 text-sm text-neutral-600 focus:outline-hidden focus-visible:border-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-800 dark:bg-black dark:text-neutral-300 dark:focus-visible:border-white"
          x-ref="searchField"
          aria-label="Search"
          @input="console.log($el.value)"
          placeholder="{% translate 'search'|title %}"
        />
      </div>

      <ul class="flex max-h-44 flex-col overflow-y-auto scroll">
        {% for _, group_choices, _ in widget.optgroups %}
        <!--  -->
          {% for option in group_choices %}
          <!--  -->
          <li
            class="combobox-option inline-flex justify-between gap-6 bg-white px-4 py-2 text-sm text-neutral-600 hover:bg-neutral-900/5 focus-visible:text-neutral-900 focus-visible:outline-hidden dark:bg-black dark:text-neutral-300 dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white"
            role="option"
            tabindex="0"
          >
            <div class="relative flex items-center">
              <input
                type="checkbox"
                name="{{ widget.name }}"
                value="{{ option.value|stringformat:'s' }}"
                class="checkbox-input peer before:content['']"
                id="{{ widget.attrs.id }}_{{ option.value }}"
                {% for name, value in option.attrs.items %}
                  {% if value is not False %}
                  {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
                  {% endif %}
                {% endfor %}
              >
              {% heroicon_outline "check" class="checkbox-icon" %}
            </div>
            <label 
              for="{{ widget.attrs.id }}_{{ option.value }}">{{ option.label }}
            </label>
          </li>
          {% endfor %}
          <!--  -->
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("combobox", () => ({
      isOpen: false,
      openedWithKeyboard: false,
      selectedOptions: [],
      handleKeydownOnOptions(event) {
        if (
          (event.keyCode >= 65 && event.keyCode <= 90) ||
          (event.keyCode >= 48 && event.keyCode <= 57) ||
          event.keyCode === 8
        ) {
          this.$refs.searchField.focus();
        }
      },
    }));
  });
</script>
