{% load i18n heroicons %}

<div
  data-combo
  x-effect="effectHandler()"
  class="relative w-full"
  x-data="combobox({ 
    options: [
      {% for group_name, group_choices, group_index in widget.optgroups %}
        {% for option in group_choices %}
          {
            name: '{{ option.name }}',
            value: '{{ option.value }}',
            label: '{{ option.label }}',
            selected: '{{ option.selected }}' === 'True',
            index: '{{ option.index }}',
            type: '{{ option.type }}',
            wrap_label: '{{ option.wrap_label }}',
            checked: '{{ option.attrs.checked }}' === 'True',
            show: true,
          },
        {% endfor %}
      {% endfor %}
    ],
    selectedText: '{% translate 'selected' %}',
  })"
>
  <a
    href="#"
    role="button"
    :title="textsConcat"
    @keydown.down="comboboxOpen = true"
    @keypress.space="sortHandler"
    @click="sortHandler"
    class="text-input !flex items-center justify-between"
  >
    <span class="capitalize text-neutral-500 whitespace-nowrap truncate" x-text="getTitle"></span>
    {% heroicon_outline "chevron-down" size="20" %}
  </a>

  <div
    role="menu"
    x-show="comboboxOpen"
    @click.outside="escapeHandler"
    @keyup.Escape="escapeHandler"
    x-transition:enter="ease-out duration-200"
    x-transition:enter-start="-translate-y-2"
    x-transition:enter-end="translate-y-0"
    class="origin-top w-full bg-white custom-shadow dark:shadow-none dark:bg-black absolute top-[calc(100%_+_.5rem)] z-50 left-0 rounded-lg border border-neutral-300 dark:border-neutral-800 overflow-hidden"
    x-cloak
  >
    <div 
    x-show="options.length" 
    x-trap="comboboxOpen" 
    @keydown.down.prevent="$focus.wrap().next()"
    @keydown.up.prevent="$focus.wrap().previous()"
    >
      <input
        class="w-full border-none border-b border-neutral-300 bg-neutral-50 py-2.5 px-4 text-sm text-neutral-600 focus:outline-none focus-visible:border-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-800 dark:bg-black dark:text-neutral-300 dark:focus-visible:border-blue-500"
        type="search"
        x-ref="comboBoxSearch"
        @search="searchHandler"
        @keyup="searchHandler"
        x-model="keywords"
        placeholder="{% translate 'search'|title %} ..."
        {% for name,value in widget.attrs.items%}
          {% if value is not False %}
          {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
          {% endif %}
        {% endfor %}
      />

      <ul class="text-sm max-h-48 overflow-y-auto scroll p-1">
        <li
          class="p-2 rounded flex items-center gap-2 hover:dark:bg-neutral-900 hover:bg-neutral-200"
        >
          <div class="relative flex items-center">
            <input
            @change="checkAllHandler"
            :id="`check-all-options-${name}`"
            type="checkbox"
            class="checkbox-input peer before:content['']"
            />
            {% heroicon_outline "check" class="checkbox-icon" %}
          </div>
          <label
            :for="`check-all-options-${name}`"
            class="w-full block first-letter:capitalize text-xs"
            >{% translate 'select all' %}</label
          >
        </li>
        <template x-for="option in options" :key="option.value">
          <li
            class="p-2 rounded flex items-center gap-2 hover:dark:bg-neutral-900 hover:bg-neutral-200"
            x-show="option.show"
          >
            <div class="relative flex items-center">
              <input
                :id="option.name + '-' + option.value"
                :checked="option.selected"
                :value="option.value"
                :name="option.name"
                x-model="option.selected"
                type="checkbox"
                class="checkbox-input peer before:content['']"
              />
              {% heroicon_outline "check" class="checkbox-icon" %}
            </div>
            <label
              :for="option.name + '-' + option.value"
              x-text="option.label"
              class="w-full block first-letter:capitalize text-xs"
            ></label>
          </li>
        </template>
      </ul>
    </div>

    <div class="w-full p-2" x-show="!options.length">{% translate 'no options' %}</div>
  </div>
</div>
