{% load i18n %}

<c-layout.context-menu.menu
  button_rounded="md"
  button_theme="default"
  button_icon="chevron-up-down"
  button_title="{% translate 'order by'|title %}"
>
  <div
    x-data='{
      options: [
        {% for _, group_choices, _ in widget.optgroups %}
        {% for option in group_choices %}
          {
            name: "{{ option.label }}", 
            value: "{{ option.value }}",
            checked: {{ option.selected|yesno:"true,false" }},
          },
        {% endfor %}
        {% endfor %}
      ],
      handleChange(option) {
        $refs.orderBy.value = option.value;
        $dispatch("order-by-change")
      },
    }'
  >
    <input type="hidden" x-ref="orderBy" name="{{ widget.name }}" />
    <c-layout.context-menu.section>
      <template x-for="option in options" :key="option.value">
        <c-layout.context-menu.item
          :show_icon="False"
          icon="check"
          href="#"
          x-bind:class="{
            'bg-neutral-900/5 dark:bg-neutral-50/5': option.checked,
          }"
          x-text="option.name"
          @click="handleChange(option)"
          @keydown.enter="handleChange(option)"
        />
      </template>
    </c-layout.context-menu.section>
  </div>
</c-layout.context-menu.menu>
