{% load i18n utils humanize formats %}

<c-layout.modal width="xl">
  <c-layout.modal.body :close_padding="buttons_padding">
    <c-slot name="header">{% translate 'details'|title %}: {{ object.name }} </c-slot>
    <c-slot name="body">
      <c-table height="sm">
        <c-table.table>
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'name' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'name' }}">
              {{ object.name }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'shortname' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'shortname' }}">
              {{ object.shortname }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'calculation_method' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'calculation_method' }}">
              {{ object.get_calculation_method_display }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'value' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'value' }}">
              {{ object.value|money }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'min_value' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'min_value' }}">
              {{ object.min_value|money }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'max_value' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'max_value' }}">
              {{ object.max_value|money }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'tax' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'tax' }}">
              {{ object.tax|default:"-" }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'tax_classification' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'tax_classification' }}">
              {{ object.get_tax_classification_display }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'rounded_to' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'rounded_to' }}">
              {{ object.rounded_to|money }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'round_method' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'round_method' }}">
              {{ object.get_round_method_display }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'affected_by_working_days' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'affected_by_working_days' }}">
              {{ object.affected_by_working_days|yesno|title }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'is_active' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'is_active' }}">
              {{ object.is_active|yesno|title }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          {% if object.formula %}
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'formula' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'formula' }}">
              <pre>{{ object.formula }}</pre>
            </c-table.td>
          </c-table.tr>
          {% endif %}
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'accounting_id' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'accounting_id' }}">
              {{ object.accounting_id }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'description' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'description' }}">
              {{ object.description }}
            </c-table.td>
          </c-table.tr>
          <!--  -->
          {% if object.document %}
          <c-table.tr>
            <c-table.td :header="True" data-header="{% translate 'name'|title %}">
              {{ model|verbose_name:'document' }}
            </c-table.td>
            <c-table.td data-header="{{ model|verbose_name:'document' }}">
              <c-external-link href="{{ object.document.url }}" target="_blank">
                {{ object.document.name }}
              </c-external-link>
            </c-table.td>
          </c-table.tr>
          {% endif %}
        </c-table.table>
      </c-table>
    </c-slot>
    <c-slot name="footer">
      <c-button
        theme="outline"
        title="{% translate 'close'|title %}"
        @click="hideModal"
        :hide_icon="True"
      >
        {% translate 'close'|title %}
      </c-button>
    </c-slot>
  </c-layout.modal.body>
</c-layout.modal>
