<c-inputs.text :field="form.name" />
<c-inputs.text :field="form.calculation_method" />
<c-forms.wrapper cols="3">
  <c-inputs.number :field="form.value" />
  <c-inputs.number :field="form.min_value" />
  <c-inputs.number :field="form.max_value" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  <c-inputs.text :field="form.round_method" />
  <c-inputs.number :field="form.rounded_to" />
</c-forms.wrapper>
<c-inputs.text :field="form.tax" />
<c-inputs.text :field="form.tax_classification" />
<c-inputs.text :field="form.affected_by_working_days" />
<c-inputs.text :field="form.is_active" />
<c-inputs.text :field="form.description" />
