<c-vars
  :icons="{
    'info': 'information-circle',
    'success': 'check-circle',
    'warning': 'exclamation-triangle',
    'error': 'exclamation-circle',
  }"
  :ring_colors="{
    'info': 'ring-blue-500',
    'success': 'ring-green-500',
    'warning': 'ring-orange-500',
    'error': 'ring-red-500',
  }"
  icon="success"
/>

{% if messages %}
<!--  -->
{% for message in messages %}
<li
  class="flex items-center gap-1 w-full rounded-md p-4 text-xs ring-2 {{ ring_colors|get_item:message.tags }}"
  x-data="messages('{{ settings.messages_timeout }}000')"
  x-show="open"
>
  {% heroicon_outline icons|get_item:message.tags size="32" class=message.tags %}
  <!--  -->
  <div>{{ message|capfirst }}</div>
  <c-button @click="close" icon="x-mark" size="16" rounded="full" theme="outline" />
</li>
{% endfor %}
<!--  -->
{% endif %}
