<c-vars
  :icons="{
    'info': 'information-circle',
    'success': 'check-circle',
    'warning': 'exclamation-triangle',
    'error': 'exclamation-circle',
  }"
  :ring_colors="{
    'info': 'ring-blue-500',
    'success': 'ring-green-500',
    'warning': 'ring-orange-500',
    'error': 'ring-red-500',
  }"
  icon="success"
/>

{% if messages %}
<!--  -->
{% for message in messages %}
<!--  -->
{% comment %}
<!-- 
Attributes (extra_tags):
  do_not_close: do not close the message after timeout
-->
{% endcomment %}
<li
  class="w-full realtive rounded-md p-4 text-xs ring-2 {{ ring_colors|get_item:message.level_tag }}"
  x-data="messages(
    '{{ settings.messages_timeout }}000', 
    {% if message.extra_tags == 'do_not_close' %}false{% else %}true{% endif %},
  )"
  x-show="open"
>
  <div class="absolute top-1 right-1 flex items-center gap-1">
    <c-button @click="close" icon="x-mark" size="16" rounded="full" theme="outline" />
  </div>
  <div>{{ message|capfirst }}</div>
</li>
{% endfor %}
<!--  -->
{% endif %}
