{% load i18n %}

<c-table :id="id">
  <c-slot name="header">
    <span class="hidden" x-data="sidebarLinks"></span>
    <div class="min-w-64 max-sm:w-full">{{ search }}</div>
    {% spaceless %}
    <div class="empty:hidden font-medium tracking-tighter text-sm">{{ page_header }}</div>
    {% endspaceless %}
    <div class="flex items-center flex-wrap gap-1">
      <!-- actions menu -->
      {% if actions %}
      <c-table.actions-container>
        <c-layout.contextmenu button_rounded="md" button_theme="default" button_icon="bolt">
          <c-slot name="button_text">
            <span>{% translate 'actions'|title %}</span>
            <span x-text="`(${selectedItems})`"></span>
          </c-slot>
          <!-- actions slot -->
          {{ actions }}
          <!------------------>
        </c-layout.contextmenu>
      </c-table.actions-container>
      {% endif %}

      <!-- buttons_bar slot -->
      {{ buttons_bar }}
      <!------------------>

      <!-- export menu -->
      {% if can_export %}
      <c-layout.contextmenu
        button_rounded="md"
        button_theme="default"
        button_icon="arrow-down-tray"
        button_title="{% translate 'export'|title %}"
      >
        <c-layout.contextmenu.section>
          {{ additional_export_items }}
          <c-layout.contextmenu.item
            icon="table-cells"
            href="#"
            hx-get="{{ index_url }}{% querystring %}"
            hx-vals='{"export": true, "extension": "xlsx"}'
            aria-label="export table as xlsx"
          >
            {% translate 'export to Excel'|capfirst %}
          </c-layout.contextmenu.item>
          <c-layout.contextmenu.item
            icon="document-text"
            href="#"
            hx-get="{{ index_url }}{% querystring %}"
            hx-vals='{"export": true, "extension": "csv"}'
            aria-label="export table as csv"
          >
            {% translate 'export to CSV' %}
          </c-layout.contextmenu.item>
        </c-layout.contextmenu.section>
      </c-layout.contextmenu>
      {% endif %}

      <!-- reset button -->
      <c-button
        icon="arrow-path"
        size="20"
        kind="a"
        href="{{ index_url }}"
        title="{% translate 'reset'|title %}"
      />
    </div>
  </c-slot>
  {{ slot }}
  <c-slot name="pagination">
    <c-table.pagination />
  </c-slot>
</c-table>
