{% load i18n widget_tweaks utils %}

<c-blocks.table id="{{ table_id }}" :index_url="{{ index_url }}" :table_id="{{ table_id }}">
  <c-slot name="search">
    <c-table.filter-form trigger="search" class="w-full" prevent="True">
      <c-inputs.text
        :field="search_filter.form.q"
        :show_label="False"
        show_icon="True"
        icon="magnifying-glass"
        kind="search"
        placeholder="{% translate 'search'|title %}"
        :auto_focus="False"
      />
    </c-table.filter-form>
  </c-slot>

  <c-slot name="buttons_bar">
    {% if can_add %}
    <c-button
      size="20"
      kind="a"
      href="{{ create_url }}{% querystring %}"
      theme="primary"
      title="{% translate 'add new'|title %}"
      aria-label="create new object"
    />
    {% endif %}

    <c-table.filter-form trigger="order-by-change">
      {{ ordering_filter.form.ordering }}
    </c-table.filter-form>

    <c-button
      icon="adjustments-horizontal"
      size="20"
      hx-get="{{ index_url }}{% querystring %}"
      hx-vals='{"filters": true}'
      hx-target="#overlay-sidebar-container"
      hx-swap="innerHTML"
      data-fields="{% for field in filter.form.fields %}
      {% if forloop.last %}{{ field }}{% else %}{{ field }},{% endif %}
      {% endfor %}"
      badge="True"
      title="{% translate 'filters'|title %}"
    />
  </c-slot>

  {% if can_delete %}
  <c-slot name="actions">
    <c-layout.contextmenu.section>
      <c-layout.contextmenu.item color="danger" icon="trash">
        <c-table.action-button
          action_name="delete"
          value="{% translate 'delete' %}"
          hx-post="{{ index_url }}{% querystring %}"
          hx-target="#modal-container"
          hx-swap="innerHTML"
          aria-label="delete all objects"
        />
      </c-layout.contextmenu.item>
    </c-layout.contextmenu.section>
  </c-slot>
  {% endif %}

  <form hx-post="{{ index_url }}" id="{{ form_table_id }}">
    <c-table.table>
      <c-table.tr header="True">
        <c-table.th> {% if can_delete %}<c-table.check-all />{% endif %} </c-table.th>
        <c-table.th>{% translate 'options' %}</c-table.th>
        <c-table.th>{{ model|verbose_name:'name' }}</c-table.th>
        <c-table.th>{{ model|verbose_name:'accounting_id' }}</c-table.th>
        <c-table.th>{% translate 'employees count' %}</c-table.th>
        <c-table.th>{{ model|verbose_name:'description' }}</c-table.th>
      </c-table.tr>
      {% for obj in page %}
      <c-table.tr>
        <c-table.td-check :show_checkbox="can_delete" :obj="obj" idx="{{ forloop.counter }}" />
        <c-table.td fixed="True">
          {% if can_change or can_delete or can_view_activity %}
          <c-layout.contextmenu button_padding="sm">
            {% if can_change or can_view_activity %}
            <c-layout.contextmenu.section>
              {% if can_view_activity %}
              <c-layout.contextmenu.item
                icon="clock"
                href="#"
                hx-get="{{ obj.get_activities_url }}"
                hx-target="#modal-container"
                hx-swap="innerHTML"
                aria-label="object activities"
              >
                {% translate 'activities' %}
              </c-layout.contextmenu.item>
              {% endif %}
              <!--  -->
              {% if can_change %}
              <c-layout.contextmenu.item
                icon="pencil"
                href="{{ obj.get_update_url }}{% querystring %}"
                aria-label="edit object"
              >
                {% translate 'edit' %}
              </c-layout.contextmenu.item>
              {% endif %}
            </c-layout.contextmenu.section>
            {% endif %}
            <!--  -->
            {% if can_delete %}
            <c-layout.contextmenu.section>
              <c-layout.contextmenu.item
                color="danger"
                icon="trash"
                href="#"
                hx-get="{{ obj.get_delete_url }}{% querystring %}"
                hx-target="#modal-container"
                hx-swap="innerHTML"
                aria-label="delete object"
              >
                {% translate 'delete' %}
              </c-layout.contextmenu.item>
            </c-layout.contextmenu.section>
            {% endif %}
          </c-layout.contextmenu>
          {% endif %}
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'name' }}">
          <c-modal-a
            hx-get="{{ obj.get_absolute_url }}{% querystring %}"
            aria-label="object details"
          >
            {{ obj.name }}
          </c-modal-a>
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'accounting_id' }}">
          {{ obj.accounting_id }}
        </c-table.td>
        <c-table.td data-header="{% translate 'employees count' %}">
          {{ obj.employees_count }}
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'description' }}">
          {{ obj.description }}
        </c-table.td>
      </c-table.tr>
      {% empty %}
      <c-table.empty-tr />
      {% endfor %}
    </c-table.table>
  </form>
</c-blocks.table>
