{% load i18n %}

<c-layout.modal.container width="xl">
  <c-layout.modal.body :close_padding="buttons_padding">
    <c-slot name="header">{% translate 'details'|title %}: {{ object.name }} </c-slot>
    <c-slot name="body">
      <c-table.container height="sm">
        <c-table.table>
          <c-table.tr>
            <c-table.td data-header="{% translate 'name'|title %}">
              {% translate 'name'|title %}
            </c-table.td>
            <c-table.td data-header="{% translate 'value'|title %}"> {{ object.name }} </c-table.td>
          </c-table.tr>
          <c-table.tr>
            <c-table.td data-header="{% translate 'name'|title %}">
              {% translate 'local?'|title %}
            </c-table.td>
            <c-table.td data-header="{% translate 'value'|title %}">
              {{ object.is_local|yesno|title }}
            </c-table.td>
          </c-table.tr>
          <c-table.tr>
            <c-table.td data-header="{% translate 'name'|title %}">
              {% translate 'description'|title %}
            </c-table.td>
            <c-table.td data-header="{% translate 'value'|title %}">
              {{ object.description }}
            </c-table.td>
          </c-table.tr>
        </c-table.table>
      </c-table.container>
      <!-- schools table -->
      {% if object.schools.all %}
      <c-separator> {% translate 'schools'|title %} </c-separator>
      <c-table.container height="sm">
        <c-table.table>
          <c-table.tr header="True">
            <c-table.td data-header="#" />
            <c-table.td>{% translate 'name'|title %}</c-table.td>
            <c-table.td>{% translate 'kind'|title %}</c-table.td>
          </c-table.tr>
          {% for school in object.schools.all %}
          <c-table.tr>
            <c-table.td data-header="#"> {{ forloop.counter }} </c-table.td>
            <c-table.td data-header="{% translate 'name'|title %}"> {{ school }} </c-table.td>
            <c-table.td data-header="{% translate 'kind'|title %}"> {{ school.kind }} </c-table.td>
          </c-table.tr>
          {% endfor %}
        </c-table.table>
      </c-table.container>
      {% endif %}
    </c-slot>
    <c-slot name="footer">
      <c-button
        theme="outline"
        title="{% translate 'close'|title %}"
        @click="hideModal"
        :hide_icon="True"
      >
        {% translate 'close'|title %}
      </c-button>
    </c-slot>
  </c-layout.modal.body>
</c-layout.modal.container>
