{% load i18n widget_tweaks utils formats %}

<c-blocks.table id="{{ table_id }}" :index_url="{{ index_url }}" :table_id="{{ table_id }}">
  <c-slot name="search">
    <c-table.filter-form trigger="search" class="w-full" prevent="True">
      <c-inputs.text
        :field="search_ordering_filter.form.q"
        :show_label="False"
        show_icon="True"
        icon="magnifying-glass"
        kind="search"
        placeholder="{% translate 'search'|title %}"
        :auto_focus="False"
      />
    </c-table.filter-form>
  </c-slot>

  <c-slot name="buttons_bar">
    {% if can_create %}
    <c-button
      size="20"
      kind="a"
      href="{{ create_url }}{% querystring %}"
      theme="primary"
      title="{% translate 'add new'|title %}"
      aria-label="create new object"
    />
    {% endif %}

    <c-table.filter-form trigger="order-by-change">
      {{ search_ordering_filter.form.ordering }}
    </c-table.filter-form>

    <c-button
      icon="adjustments-horizontal"
      size="20"
      hx-get="{{ index_url }}{% querystring %}"
      hx-vals='{"filters": true}'
      hx-target="#overlay-sidebar-container"
      hx-swap="innerHTML"
      data-fields="voucher_serial,title,created_at_from,created_at_to,updated_at_from,updated_at_to,date_from,date_to,transactions_count_from,transactions_count_to,total_from,total_to,net_from,net_to,kind,month,quarter,period,is_closed_period,notes,serial_id,serial_date_from,serial_date_to,approve_date_from,approve_date_to,due_date_from,due_date_to,accounting_journal_sequence,is_audited,is_migrated,"
      badge="True"
      title="{% translate 'filters'|title %}"
    />
  </c-slot>

  {% if can_delete or can_audit or can_migrate %}
  <c-slot name="actions">
    <c-layout.contextmenu.section>
      {% if can_delete %}
      <c-layout.contextmenu.item color="danger" icon="trash">
        <c-table.action-button
          action_name="delete"
          value="{% translate 'delete' %}"
          hx-post="{{ index_url }}{% querystring %}"
          hx-target="#modal-container"
          hx-indicator="#modal-spinner"
          aria-label="delete all objects"
        />
      </c-layout.contextmenu.item>
      {% endif %}
      <!--  -->
      {% if can_audit %}
      <c-layout.contextmenu.item icon="check-circle">
        <c-table.action-button
          action_name="audit"
          value="{% translate 'audit' %}"
          hx-post="{{ index_url }}{% querystring %}"
          hx-target="#modal-container"
          hx-indicator="#modal-spinner"
          aria-label="audit all objects"
        />
      </c-layout.contextmenu.item>
      {% endif %}
      <!--  -->
      {% if can_migrate %}
      <c-layout.contextmenu.item icon="lock-closed">
        <c-table.action-button
          action_name="migrate"
          value="{% translate 'migrate' %}"
          hx-post="{{ index_url }}{% querystring %}"
          hx-target="#modal-container"
          hx-indicator="#modal-spinner"
          aria-label="migrate all objects"
        />
      </c-layout.contextmenu.item>
      {% endif %}
    </c-layout.contextmenu.section>
  </c-slot>
  {% endif %}

  <form hx-post="{{ index_url }}" id="{{ form_table_id }}">
    <c-table.table>
      <c-table.tr header="True">
        <c-table.th> {% if can_delete %}<c-table.check-all />{% endif %} </c-table.th>
        <c-table.th>{% translate 'options' %}</c-table.th>
        <c-table.th>{{ model|verbose_name:'voucher_serial' }}</c-table.th>
        <c-table.th>{{ model|verbose_name:'title' }}</c-table.th>
        <c-table.th>{{ model|verbose_name:'date' }}</c-table.th>
        <c-table.th>{% translate 'total' %}</c-table.th>
        <c-table.th>{% translate 'transactions count' %}</c-table.th>
        <c-table.th>{{ model|verbose_name:'kind' }}</c-table.th>
        <c-table.th>{% translate 'information' %}</c-table.th>
      </c-table.tr>
      {% for obj in page %}
      <c-table.tr>
        <c-table.td-check :show_checkbox="can_delete" :obj="obj" idx="{{ forloop.counter }}" />
        <c-table.td fixed="True">
          {% if can_update or can_delete or can_view_activity %}
          <c-layout.contextmenu button_padding="sm">
            {% if can_update or can_view_activity or can_audit %}
            <c-layout.contextmenu.section>
              {% if can_view_activity %}
              <c-layout.contextmenu.item
                icon="clock"
                href="#"
                hx-get="{{ obj.get_activities_url }}"
                hx-target="#modal-container"
                hx-indicator="#modal-spinner"
                @click="showModal"
                aria-label="object activities"
              >
                {% translate 'activities' %}
              </c-layout.contextmenu.item>
              {% endif %}
              <!--  -->
              {% if can_update %}
              <c-layout.contextmenu.item
                icon="pencil"
                href="{{ obj.get_update_url }}{% querystring %}"
                aria-label="edit object"
              >
                {% translate 'edit' %}
              </c-layout.contextmenu.item>
              {% endif %}
              <!--  -->
              {% if can_audit and not obj.is_audited %}
              <c-layout.contextmenu.item
                icon="check-circle"
                href="#"
                hx-get="{{ obj.get_audit_url }}{% querystring %}"
                hx-target="#modal-container"
                hx-indicator="#modal-spinner"
                @click="showModal"
                aria-label="audit object"
              >
                {% translate 'audit' %}
              </c-layout.contextmenu.item>
              {% endif %}
              <!--  -->
              {% if can_migrate and not obj.is_migrated and obj.is_audited %}
              <c-layout.contextmenu.item
                icon="lock-closed"
                href="#"
                hx-get="{{ obj.get_migrate_url }}{% querystring %}"
                hx-target="#modal-container"
                hx-indicator="#modal-spinner"
                @click="showModal"
                aria-label="migrate object"
              >
                {% translate 'migrate' %}
              </c-layout.contextmenu.item>
              {% endif %}
              <!--  -->
              {% if can_unmigrate and obj.is_migrated %}
              <c-layout.contextmenu.item
                icon="lock-open"
                href="#"
                hx-get="{{ obj.get_unmigrate_url }}{% querystring %}"
                hx-target="#modal-container"
                hx-indicator="#modal-spinner"
                @click="showModal"
                aria-label="unmigrate object"
              >
                {% translate 'unmigrate' %}
              </c-layout.contextmenu.item>
              {% endif %}
            </c-layout.contextmenu.section>
            {% endif %}
            <!--  -->
            {% if can_delete %}
            <c-layout.contextmenu.section>
              <c-layout.contextmenu.item
                color="danger"
                icon="trash"
                href="#"
                hx-get="{{ obj.get_delete_url }}{% querystring %}"
                hx-target="#modal-container"
                hx-indicator="#modal-spinner"
                @click="showModal"
                aria-label="delete object"
              >
                {% translate 'delete' %}
              </c-layout.contextmenu.item>
            </c-layout.contextmenu.section>
            {% endif %}
          </c-layout.contextmenu>
          {% endif %}
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'voucher_serial' }}">
          <a
            href="#"
            hx-get="{{ obj.get_absolute_url }}{% querystring %}"
            hx-target="#modal-container"
            hx-indicator="#modal-spinner"
            @click="showModal"
            class="hover:underline cursor-pointer"
            aria-label="object details"
          >
            {{ obj.voucher_serial }}
          </a>
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'title' }}"> {{ obj.title }} </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'date' }}">
          {{ obj.date|date:'Y-m-d' }}
        </c-table.td>
        <c-table.td data-header="{% translate 'total' %}"> {{ obj.total|money:True }} </c-table.td>
        <c-table.td data-header="{% translate 'transactions count' %}">
          {{ obj.transactions_count }}
        </c-table.td>
        <c-table.td data-header="{{ model|verbose_name:'kind' }}">
          <a
            href="#"
            hx-get="{{ obj.kind.get_absolute_url }}{% querystring %}"
            hx-target="#modal-container"
            hx-indicator="#modal-spinner"
            @click="showModal"
            class="hover:underline cursor-pointer"
            aria-label="object details"
          >
            {{ obj.kind }}
          </a>
        </c-table.td>
        <c-table.td data-header="{% translate 'information' %}">
          <div class="flex items-center gap-2">
            <div
              title="{% if obj.is_audited %}{% translate 'audited'|capfirst %}{% else %}{% translate 'not audited'|capfirst %}{% endif %}"
            >
              {% if obj.is_audited %}
              <!--  -->
              {% heroicon_outline 'check-badge' size="18" class="text-green-500" %}
              <!--  -->
              {% else %}
              <!--  -->
              {% heroicon_outline 'no-symbol' size="18" class="text-red-500" %}
              <!--  -->
              {% endif %}
            </div>
            <div
              title="{% if obj.is_migrated %}{% translate 'migrated'|capfirst %}{% else %}{% translate 'not migrated'|capfirst %}{% endif %}"
            >
              {% if obj.is_migrated %}
              <!--  -->
              {% heroicon_outline 'lock-closed' class="text-green-500" size="18" %}
              <!--  -->
              {% else %}
              <!--  -->
              {% heroicon_outline 'lock-open' class="text-red-500" size="18" %}
              <!--  -->
              {% endif %}
            </div>
          </div>
        </c-table.td>
      </c-table.tr>
      {% empty %}
      <c-table.empty-tr />
      {% endfor %}
    </c-table.table>
  </form>
</c-blocks.table>
