<span class="ms-1"></span>
<span class="ms-2"></span>
<span class="ms-3"></span>
<span class="ms-4"></span>
<span class="ms-5"></span>
<span class="ms-6"></span>
<span class="ms-7"></span>
<span class="ms-8"></span>
<span class="ms-9"></span>
<span class="ms-10"></span>
<span class="ms-11"></span>
<span class="ms-12"></span>
<span class="gap-1"></span>
<span class="gap-2"></span>
<span class="gap-3"></span>
<span class="gap-4"></span>
<span class="gap-5"></span>
<span class="gap-6"></span>
<span class="gap-7"></span>
<span class="gap-8"></span>
<span class="gap-9"></span>
<span class="gap-10"></span>
<span class="gap-11"></span>
<span class="gap-12"></span>
<span class="ltr:hidden"></span>
<span class="rtl:hidden"></span>
<span class="@lg:hidden"></span>
<span class="@max-lg:hidden"></span>
<!-- table td on @container/table -->
<span class="@sm/table:tb-td:!table-cell @sm/table:tb-td:before:!content-['']"></span>
<span class="@md/table:tb-td:!table-cell @md/table:tb-td:before:!content-['']"></span>
<span class="@lg/table:tb-td:!table-cell @lg/table:tb-td:before:!content-['']"></span>
<span class="@xl/table:tb-td:!table-cell @xl/table:tb-td:before:!content-['']"></span>
<span class="@2xl/table:tb-td:!table-cell @2xl/table:tb-td:before:!content-['']"></span>
<span class="@3xl/table:tb-td:!table-cell @3xl/table:tb-td:before:!content-['']"></span>
<span class="@4xl/table:tb-td:!table-cell @4xl/table:tb-td:before:!content-['']"></span>
<span class="@5xl/table:tb-td:!table-cell @5xl/table:tb-td:before:!content-['']"></span>
<!-- table th on @container/table -->
<span class="@sm/table:tb-th:!table-cell"></span>
<span class="@md/table:tb-th:!table-cell"></span>
<span class="@lg/table:tb-th:!table-cell"></span>
<span class="@xl/table:tb-th:!table-cell"></span>
<span class="@2xl/table:tb-th:!table-cell"></span>
<span class="@3xl/table:tb-th:!table-cell"></span>
<span class="@4xl/table:tb-th:!table-cell"></span>
<span class="@5xl/table:tb-th:!table-cell"></span>
<!-- table td on @container -->
<span class="@sm:tb-td:!table-cell @sm:tb-td:before:!content-['']"></span>
<span class="@md:tb-td:!table-cell @md:tb-td:before:!content-['']"></span>
<span class="@lg:tb-td:!table-cell @lg:tb-td:before:!content-['']"></span>
<span class="@xl:tb-td:!table-cell @xl:tb-td:before:!content-['']"></span>
<span class="@2xl:tb-td:!table-cell @2xl:tb-td:before:!content-['']"></span>
<span class="@3xl:tb-td:!table-cell @3xl:tb-td:before:!content-['']"></span>
<span class="@4xl:tb-td:!table-cell @4xl:tb-td:before:!content-['']"></span>
<span class="@5xl:tb-td:!table-cell @5xl:tb-td:before:!content-['']"></span>
<!-- table th on @container -->
<span class="@sm:tb-th:!table-cell"></span>
<span class="@md:tb-th:!table-cell"></span>
<span class="@lg:tb-th:!table-cell"></span>
<span class="@xl:tb-th:!table-cell"></span>
<span class="@2xl:tb-th:!table-cell"></span>
<span class="@3xl:tb-th:!table-cell"></span>
<span class="@4xl:tb-th:!table-cell"></span>
<span class="@5xl:tb-th:!table-cell"></span>
