<c-inputs.text :field="form.name" />
<c-inputs.text :field="form.shortname" />
<c-forms.wrapper cols="4">
  <c-inputs.text :field="form.calculation_method" />
  <c-inputs.number :field="form.rounded_to" />
  <c-inputs.text :field="form.round_method" />
  <c-inputs.text :field="form.affected_by_working_days" />
</c-forms.wrapper>
<c-forms.wrapper cols="2">
  <c-inputs.text :field="form.amount" />
  <c-inputs.text :field="form.percentage" />
</c-forms.wrapper>
<c-inputs.text :field="form.formula" />
<c-inputs.text :field="form.accounting_id" />
<c-inputs.text :field="form.description" />
