{% load i18n %}

<form hx-post="{{ obj.get_audit_url }}{% querystring %}" hx-target="#{{ table_id }}">
  <c-layout.modal.body>
    <c-slot name="header">
      {% translate 'audit'|title %}
      <span>{{ obj }}</span>
    </c-slot>
    <c-slot name="body">
      <p class="text-neutral-600 dark:text-neutral-300 first-letter:capitalize">
        {% translate 'you are about to audit the voucher, do you want to continue?'|capfirst %}
      </p>
    </c-slot>
    <c-slot name="footer">
      <c-button title="{% translate 'audit'|title %}" @click="hideModal" :hide_icon="True">
        {% translate 'audit'|title %}
      </c-button>
    </c-slot>
  </c-layout.modal.body>
</form>
