<c-vars
  base_theme="block rounded-md w-fit border px-2 py-1 text-xs capitalize font-medium"
  :themes="{
    'primary': 'bg-neutral-950 text-white border-neutral-800 dark:bg-white dark:text-black border-none',
    'default': 'dark:bg-neutral-950 dark:text-white dark:border-neutral-800 border-neutral-800',
    'sky': 'border-sky-500 bg-sky-500 text-white dark:border-sky-500 dark:bg-sky-500 dark:text-white',
    'green': 'border-green-500 bg-green-500 text-white dark:border-green-500 dark:bg-green-500 dark:text-white',
    'amber': 'border-amber-500 bg-amber-500 text-white dark:border-amber-500 dark:bg-amber-500 dark:text-white',
    'pink': 'border-pink-500 bg-pink-500 text-white dark:border-pink-500 dark:bg-pink-500 dark:text-white',
    'red': 'border-red-500 bg-red-500 text-white dark:border-red-500 dark:bg-red-500 dark:text-white',
  }"
  theme="default"
/>

<span class="{{ themes|get_item:theme }} {{ base_theme }}"> {{ slot }} </span>
