{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- htmx config -->
<meta
  name="htmx-config"
  content='{
    "globalViewTransitions": true,
    "refreshOnHistoryMiss": true,
    "defaultSwapStyle": "outerHTML"
}'
/>

<style>
  [x-cloak] {
    display: none;
  }
</style>

<script>
  if (localStorage.getItem("dark") === "true") {
    document.documentElement.style.backgroundColor = "#000000";
  } else {
    document.documentElement.style.backgroundColor = "#ffffff";
  }
</script>

<link rel="icon" href="{% static 'favicon.ico' %}" />

{% if debug %}
<link rel="stylesheet" href="{% static 'main.dev.css' %}" />
<script src="{% static 'main.dev.js' %}" defer></script>
{% else %}
<link rel="stylesheet" href="{% static 'main.min.css' %}" />
<script src="{% static 'main.min.js' %}" defer></script>
{% endif %}

<title>{{ project_name }}</title>
