{% load static i18n breadcrumbs %}
<!--  -->
{% get_current_language as LANGUAGE_CODE %}
<!--  -->
{% get_breadcrumbs as breadcrumbs %}

<!DOCTYPE html>
<html
  lang="en"
  :class="{'dark': dark}"
  class="scroll"
  x-data="theme"
>
  <head>
    <c-head />
  </head>
  <body
    dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
    class="dark:bg-black bg-white text-neutral-900 dark:text-neutral-100"
    hx-history="false"
    hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
    :class="{'lg:me-64': overlaySidebarOpened}"
    @keyup.alt.equal="sidebarSearchFocus"
    x-data="main({ title: '{{ page_title }}' || '{{ project_name }}' })"
  >
    <c-layout.modal.container />
    <c-layout.messages />
    <span class="hidden" id="no-content"></span>

    <c-layout.sidebar.sidebar>
      <c-layout.header />
      <div class="mt-2 text-center sm:hidden">
        <c-layout.breadcrumbs :breadcrumbs="breadcrumbs" />
      </div>
      <main
        :class="{
          'container mx-auto': !sidebarFixed && fullWidthContainer,
          'px-2': !fullWidthContainer || sidebarFixed,
          'lg:px-2': overlaySidebarOpened,
        }"
        class="py-2 max-md:px-2"
      >
        {{ slot }}
      </main>
    </c-layout.sidebar.sidebar>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
