<label
  for="checkAll"
  class="flex items-center cursor-pointer text-neutral-600 dark:text-neutral-300"
>
  <div class="relative flex items-center">
    <input
      type="checkbox"
      x-model="checkAll"
      id="checkAll"
      @change="handleCheckAll"
      class="checkbox-input peer before:content['']"
    />
    {% heroicon_outline "check" class="pointer-events-none invisible absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 text-neutral-100 peer-checked:visible dark:text-black" %}
  </div>
</label>
