<label
  for="checkAll"
  class="flex items-center cursor-pointer text-neutral-600 dark:text-neutral-300"
>
  <div class="relative flex items-center">
    <input
      type="checkbox"
      x-model="checkAll"
      id="checkAll"
      @change="handleCheckAll"
      class="before:content[''] peer relative size-4 cursor-pointer appearance-none overflow-hidden rounded border border-neutral-300 bg-white before:absolute before:inset-0 checked:border-black checked:before:bg-black focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-neutral-800 checked:focus:outline-black active:outline-offset-0 dark:border-neutral-700 dark:bg-neutral-900 dark:checked:border-white dark:checked:before:bg-white dark:focus:outline-neutral-300 dark:checked:focus:outline-white"
    />
    {% heroicon_outline "check" class="pointer-events-none invisible absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 text-neutral-100 peer-checked:visible dark:text-black" %}
  </div>
</label>
