<c-vars 
  trigger="submit"
  :prevent="False"
  :include="True"
  :included="True"
  :push="True"
/>


<form
  id="{{ filter_form_id }}"
  aria-included="{% if included %}true{% else %}false{% endif %}"
  hx-get="{{ index_url }}"
  hx-target="#{{ table_id }}"
  hx-push-url="{% if push %}true{% else %}false{% endif %}"
  hx-include="[aria-included={% if include %}true{% else %}false{% endif %}]"
  hx-indicator="*[data-indicator]"
  hx-trigger="{{ trigger }}"
  {% if prevent %}@submit.prevent{% endif %}
  {{ attrs }}
>
  {{ slot }}
</form>
