{% load i18n %}

<c-vars
  :heights="{
    'xs': 'max-h-[40vh] sm:max-h-[55vh]',
    'sm': 'max-h-[50vh] sm:max-h-[65vh]',
    'base': 'max-h-[55vh] sm:max-h-[70vh]',
    'none': 'overflow-hidden',
  }"
  :overflow="True"
  :bordered="True"
  height="base"
/>

<div id="{{ id }}" class="relative hx-swap:opacity-80 select-none" x-data="tableCheckAll">
  <div
    class="flex items-center justify-between flex-col gap-2 sm:gap-1 sm:flex-row mb-2 empty:hidden"
  >{{ header }}</div>

  <div
    class="relative {% if overflow %}overflow-auto{% endif %} w-full rounded-md scroll {{ heights|get_item:height }} {% if bordered %}border border-neutral-300 dark:border-neutral-800{% endif %}"
  >
    <div
      id="table-spinner"
      class="hx-request:opacity-100 opacity-0 absolute inset-0 hx-request:z-50 -z-50 flex items-center justify-center dark:bg-black/50 bg-white/50 p-4 pb-8 sm:items-center lg:p-8 duration-150"
    >
      {% heroicon_outline "arrow-path" class="animate-spin" %}
    </div>

    {{ slot }}
  </div>
  {{ pagination }}
</div>
