<c-vars :header="False" :hovered="True" :striped="True" :hide="False" :bolded="False" />


<tr
  class="{% spaceless %}
  {% if not header %}
  {% if hovered %}hover:ring-1{% endif %}
  ring-neutral-400
  dark:ring-neutral-600
  {% if striped %}
    even:bg-white 
    even:has-checked:!bg-neutral-200 
    even:dark:bg-neutral-950 
    even:dark:has-checked:!bg-neutral-700 
    odd:bg-neutral-100 
    odd:has-checked:!bg-neutral-300 
    odd:dark:bg-black 
    odd:dark:has-checked:!bg-neutral-800 
  {% endif %}
  {% endif %}
  {% if hide %}hidden{% endif %}
  {% if bolded %}[&_td]:border-t-4 [&_td]:border-double [&_td]:border-neutral-400 [&_td]:dark:border-neutral-700{% endif %}
  {% endspaceless %}"
  {{ attrs }}
>
  {{ slot }}
</tr>
