{% load i18n %}

<c-layout.modal :overflow="False">
  <form hx-post="{% url 'core:ledger' %}">
    <c-layout.modal.body :overflow="False">
      <c-slot name="header">
        {% translate 'search'|capfirst %}
        <span>{{ obj }}</span>
      </c-slot>
      <c-slot name="body">
        <div class="py-2">
          <c-inputs.text :show_label="False" :field="form.employee" />
        </div>
      </c-slot>
      <c-slot name="footer">
        <c-button title="{% translate 'ledger'|capfirst %}" @click="hideModal" :hide_icon="True">
          {% translate 'ledger'|capfirst %}
        </c-button>
        <c-button
          kind="input"
          title="{% translate 'details'|capfirst %}"
          name="details"
          type="submit"
          value="{% translate 'details' %}"
        />
      </c-slot>
    </c-layout.modal.body>
  </form>
</c-layout.modal>
