{% load i18n widget_tweaks %}

<form
  id="{{ form_id }}-{{ object.pk }}-formset"
  hx-post="{% url 'governorates:cities' slug=object.slug %}"
  hx-target="#{{ form_id }}-{{ object.pk }}-formset"
  x-trap="true"
  x-data="{
    lrTimeout: null,
    init() {
      let lr = document.querySelector(`tr:last-child input:not([type='hidden'])`);
      self.lrTimeout = setTimeout(() => {
        lr.focus();
      }, 50);
    },
    destroy() {
      clearTimeout(self.lrTimeout);
    }
  }"
>
  <div>{{ formset.management_form }}</div>
  <!--  -->
  <c-error.wrapper>
    {% for error in formset.non_form_errors %}
    <c-error.error>{{ error }}</c-error.error>
    {% endfor %}
  </c-error.wrapper>
  <!--  -->
  <c-table.container :overflow="False" height="none">
    <c-table.table>
      <c-table.tr header="True">
        <c-table.th> # </c-table.th>
        <c-table.th> {% translate 'name' %} </c-table.th>
        <c-table.th> {% translate 'delete' %} </c-table.th>
      </c-table.tr>
      {% for form in formset.forms %}
      <c-table.tr>
        <c-table.td data-header="{% translate 'serial' %}"> {{ forloop.counter }} </c-table.td>
        <c-table.td data-header="{% translate 'name' %}">
          {{ form.id }}
          <c-inputs.text :show_help="False" :show_label="False" :field="form.name" />
        </c-table.td>
        <c-table.td data-header="{% translate 'delete' %}">
          <div class="relative flex items-center justify-center">
            {% render_field form.DELETE class="checkbox-input peer" %}
            <!--  -->
            {% heroicon_outline "check" class="checkbox-icon" %}
          </div>
        </c-table.td>
      </c-table.tr>
      {% endfor %}
    </c-table.table>
  </c-table.container>
  <div class="flex items-center justify-center gap-2 my-2">
    <c-button theme="primary" type="submit"> {% translate 'save' %} </c-button>
    <c-button
      kind="a"
      theme="outline"
      hx-get="{% url 'governorates:cities' slug=object.slug %}"
      hx-target="#{{ form_id }}-{{ object.pk }}-formset"
      hx-confirm="{% translate 'changes you made may not be saved?' %}"
      icon="arrow-path"
      title="{% translate 'reset'|title %}"
    >
      {% translate 'reset'|title %}
    </c-button>
  </div>
</form>
