{% load i18n %}

<c-forms.modal-update
  form_title="{% translate 'update'|title %} {{ form.instance }}"
  request_headers='{"modal": true, "target": "{{ request_parser.target }}", "dont-redirect": true}'
  url="{{ update_url }}"
  :form_id="form_id"
  :form="form"
>
  <c-inputs.text :field="form.name" />
  <c-inputs.text :field="form.symbol" />
  <c-inputs.text :field="form.code" />
  <c-inputs.text :field="form.fraction_name" />
  <c-inputs.text kind="number" :field="form.decimal_places" />
  <c-inputs.text :field="form.description" />
</c-forms.modal-update>
