<c-vars
  icon="plus"
  :show_icon="True"
  :text_colors="{
    'default': 'text-neutral-700 hover:text-neutral-900 focus-visible:text-neutral-900 dark:text-neutral-300 dark:hover:text-white',
    'danger': 'text-red-600 font-semibold',
  }"
  color="default"
/>

<li class="my-0.5 mx-1 text-sm {{ text_colors|get_item:color }}" role="menuitem">
  <a
    class="w-full focus:outline-none hover:bg-neutral-200 focus:bg-neutral-200 px-2 py-1.5 hover:dark:bg-neutral-900 focus:dark:bg-neutral-900 flex items-center gap-2 cursor-pointer rounded-sm"
    {{ attrs }}
  >
    {% if show_icon %}
    <span>{% heroicon_outline icon size=20 %}</span>
    {% endif %} 
    <div class="first-letter:uppercase">{{ slot }}</div>
  </a>
</li>
