{% load i18n heroicons %}

<div
  @keydown.esc.window="hideSidebar"
  :class="{
    'md:flex-row': sidebarFixed
  }"
  class="relative flex w-full flex-col"
>
  <div
    x-show="sidebarOpened"
    class="fixed inset-0 z-40 bg-neutral-950/10 backdrop-blur-sm"
    :class="{
      'md:hidden': sidebarFixed
    }"
    aria-hidden="true"
    @click="hideSidebar"
    x-transition.opacity
  ></div>

  <nav
    class="fixed z-40 flex h-svh w-60 shrink-0 flex-col border-e border-neutral-300 p-2 transition-transform duration-300 dark:border-neutral-800 dark:bg-black bg-white"
    :class="{
      'ltr:translate-x-0': sidebarOpened,
      'rtl:translate-x-60 ltr:-translate-x-60': !sidebarOpened,
      'start-0 md:!translate-x-0 md:relative': sidebarFixed,
    }"
    aria-label="sidebar navigation"
  >
    <h1 class="tracking-tight text-xl font-medium text-center">
      <a href="{% url 'core:index' %}" class="block w-full">{{ project_name }}</a>
    </h1>

    <input
      type="search"
      class="text-input my-2"
      name="search"
      aria-label="Search"
      x-model="sidebarSearch"
      id="sidebar-search"
      @keydown.debounce.300ms="sidebarSearchHandler"
      @search="sidebarSearchHandler"
      x-init="sidebarSearchHandler"
      placeholder="Alt ="
    />

    <div class="flex flex-col gap-2 overflow-y-auto scroll pt-2 pb-6 px-1">
      <c-layout.sidebar.item
        show_icon="True"
        icon="chart-pie"
        url="{{ sidebar_links.core.dashboard.path }}"
        text="{{ sidebar_links.core.dashboard.text }}"
      />
      <!-- geo -->
      <c-layout.sidebar.collapsible-item
        text="{% translate 'geographical'|title %}"
        icon="globe-europe-africa"
        url="/geo/"
        name="geo"
      >
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.geo.governorates.path }}"
          text="{{ sidebar_links.geo.governorates.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.geo.cities.path }}"
          text="{{ sidebar_links.geo.cities.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.geo.nationalities.path }}"
          text="{{ sidebar_links.geo.nationalities.text }}"
        />
      </c-layout.sidebar.collapsible-item>
      <!-- org -->
      <c-layout.sidebar.collapsible-item
        text="{% translate 'organization'|title %}"
        icon="briefcase"
        url="/org/"
        name="org"
      >
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.job_types.path }}"
          text="{{ sidebar_links.org.job_types.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.job_subtypes.path }}"
          text="{{ sidebar_links.org.job_subtypes.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.cost_centers.path }}"
          text="{{ sidebar_links.org.cost_centers.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.positions.path }}"
          text="{{ sidebar_links.org.positions.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.statuses.path }}"
          text="{{ sidebar_links.org.statuses.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.org.groups.path }}"
          text="{{ sidebar_links.org.groups.text }}"
        />
      </c-layout.sidebar.collapsible-item>
      <!-- edu -->
      <c-layout.sidebar.collapsible-item
        text="{% translate 'educational'|title %}"
        icon="academic-cap"
        url="/edu/"
        name="edu"
      >
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.edu.school_kinds.path }}"
          text="{{ sidebar_links.edu.school_kinds.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.edu.schools.path }}"
          text="{{ sidebar_links.edu.schools.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.edu.degrees.path }}"
          text="{{ sidebar_links.edu.degrees.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.edu.specializations.path }}"
          text="{{ sidebar_links.edu.specializations.text }}"
        />
      </c-layout.sidebar.collapsible-item>
      <!-- fin -->
      <c-layout.sidebar.collapsible-item
        text="{% translate 'financial'|title %}"
        icon="currency-dollar"
        url="/fin/"
        name="fin"
      >
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.fin.years.path }}"
          text="{{ sidebar_links.fin.years.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.fin.periods.path }}"
          text="{{ sidebar_links.fin.periods.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.fin.taxes.path }}"
          text="{{ sidebar_links.fin.taxes.text }}"
        />
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.fin.tax_brackets.path }}"
          text="{{ sidebar_links.fin.tax_brackets.text }}"
        />
      </c-layout.sidebar.collapsible-item>
      <!-- hr -->
      <c-layout.sidebar.collapsible-item
        text="{% translate 'human resources'|title %}"
        icon="users"
        url="/hr/"
        name="hr"
      >
        <c-layout.sidebar.child-item
          url="{{ sidebar_links.hr.employees.path }}"
          text="{{ sidebar_links.hr.employees.text }}"
        />
      </c-layout.sidebar.collapsible-item>
    </div>
  </nav>

  <div class="h-svh w-full overflow-y-auto">{{ slot }}</div>
</div>
