{% load i18n heroicons active_link %}

<div
  @keydown.esc.window="hideSidebar"
  :class="{
    'md:flex-row': sidebarFixed
  }"
  class="relative flex w-full flex-col"
>
  <div
    x-show="sidebarOpened"
    class="fixed inset-0 z-40 bg-neutral-950/10 backdrop-blur-sm"
    :class="{
      'md:hidden': sidebarFixed
    }"
    aria-hidden="true"
    @click="hideSidebar"
    x-transition.opacity
  ></div>

  <nav
    class="fixed z-40 flex h-svh w-60 shrink-0 flex-col border-e border-neutral-300 p-2 transition-transform duration-300 dark:border-neutral-800 dark:bg-black bg-white"
    :class="{
      'ltr:translate-x-0': sidebarOpened,
      'rtl:translate-x-60 ltr:-translate-x-60': !sidebarOpened,
      'start-0 md:!translate-x-0 md:w-64 md:relative': sidebarFixed,
    }"
    aria-label="sidebar navigation"
  >
    <h1 class="tracking-tight text-xl font-medium text-center">
      <a href="{% url 'core:index' %}" class="block w-full">{{ project_name }}</a>
    </h1>

    <input
      type="search"
      class="text-input my-2"
      name="search"
      aria-label="Search"
      x-model="sidebarSearch"
      id="sidebar-search"
      @keydown.debounce.300ms="sidebarSearchHandler"
      @search="sidebarSearchHandler"
      x-init="sidebarSearchHandler"
      placeholder="Alt ="
    />

    <div class="flex flex-col gap-2 overflow-y-auto scroll pt-2 pb-6 px-2">
      {% for link in sidebar_links %}
      <a
        :href="'{{ link.href }}' + (sidebarLinksQuerystring['{{ link.href }}'] || '')"
        aria-hidden="false"
        id="sidebar-link-{{ forloop.counter }}"
        class="{% active_link link.href %} aria-hidden:hidden flex items-center rounded-md gap-2 p-2 text-sm underline-offset-2 text-neutral-700 font-medium hover:text-black dark:text-neutral-300 dark:hover:text-white focus:outline-none [&.active]:bg-neutral-200/60 [&.active]:dark:bg-neutral-900 hover:!bg-neutral-200/60 hover:dark:!bg-neutral-900 focus:ring-2 dark:ring-white ring-black"
      >
        {% heroicon_outline link.icon %}
        <span>{{ link.text }}</span>
      </a>
      {% endfor %}
    </div>
  </nav>

  <div class="h-svh w-full overflow-y-auto">{{ slot }}</div>
</div>
