{% load i18n widget_tweaks %}

<c-card id="upcoming-birthdays">
  <c-slot name="title">
    <div class="flex items-center gap-1">
      🎂 <span class="first-letter:uppercase">{% translate 'upcoming birthdays this' %}</span>
    </div>
  </c-slot>
  <c-slot name="options">
    <form
      hx-get="{% url 'hr:employees:upcoming-birthdays' %}"
      hx-trigger="change"
      hx-target="#upcoming-birthdays"
      hx-indicator="#upcoming-birthdays div[role=spinner]"
    >
      <c-inputs.text :field="filter.form.this" :show_label="False" />
    </form>
  </c-slot>
  <c-table :bordered="False">
    <c-table.table>
      <c-table.tr :header="True">
        <c-table.th> {% translate 'fullname' %} </c-table.th>
        <c-table.th> {% translate 'birthdate' %} </c-table.th>
        <c-table.th> {% translate 'next birthday' %} </c-table.th>
      </c-table.tr>
      {% for obj in object_list %}
      <c-table.tr>
        <c-table.td data-header="{% translate 'fullname' %}">
          <a
            href="#"
            hx-get="{{ obj.get_absolute_url }}"
            hx-target="#modal-container"
            hx-indicator="#modal-spinner"
            @click="showModal"
            class="hover:underline cursor-pointer"
            aria-label="object details"
          >
            {{ obj.fullname }}
          </a>
        </c-table.td>
        <c-table.td
          title="{{ obj.birth_date|timesince }}"
          data-header="{% translate 'birth date' %}"
        >
          {{ obj.birth_date|date:'Y-m-d' }}
        </c-table.td>
        <c-table.td 
          data-header="{% translate 'next birthday' %}"
          title="{{ obj.next_birthday|timeuntil:now }}"
        >
          {{ obj.next_birthday|date:'Y-m-d' }}
        </c-table.td>
      </c-table.tr>
      {% empty %}
      <c-table.empty-tr message="{% translate 'No upcoming birthdays' %}" />
      {% endfor %}
    </c-table.table>
  </c-table>
</c-card>
